{% Display Resources %}

<div id="layout-wrapper">

    <div class="bg-dark">
        <div class="container">
            <header id="header" class="navbar navbar-expand-lg navbar-dark" role="banner">
                <div class="navbar-header">
                    <a href="/" rel="home" class="navbar-brand">{{ Model.WorkContext.CurrentSite.SiteName }}</a>
                </div>
            </header>
        </div>
    </div>

    <main id="content" class="pt-4 pb-4" role="main">
        <div class="container">
            {{ Model.Content | Display }}
        </div>
    </main>
    
    <footer id="footer" class="site-footer bg-dark text-light pt-4 pb-4" role="contentinfo">
        <div class="container">
            <div class="row">

            <div class="col-md-6">
                {% Display Copyright %}
            </div>

            <div class="col-md-6 text-right">
                {% Display User %}
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 mt-4">
                {{ Model.Footer | Display }}
            </div>
        </div>
    </footer>
</div>