{% ScriptRequire "jQueryUI", head %}
{% StyleRequire "jQueryUI", head %}

{% Script "https://dotneststatic.com/media/memegenerator/MediaTheme/Scripts/jquery.memegenerator.min.js", head %}
{% Style "https://dotneststatic.com/media/memegenerator/MediaTheme/Styles/jquery.memegenerator.min.css", head %}

<img id="meme" src="https://imgflip.com/s/meme/Creepy-Condescending-Wonka.jpg" />
<button id="download">Download</button>

<script>
    $("#meme").memeGenerator();
    $("#download").click(function(e) { e.preventDefault(); $("#meme").memeGenerator("download"); });
</script>