<!-- jQuery 1.11.3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
<!-- jQuery UI 1.11.4 -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
 
<!-- Meme Generator plugin -->
<script type="text/javascript" src="https://dotneststatic.com/media/memegenerator/MediaTheme/Scripts/jquery.memegenerator.min.js"></script>
 
 
<!-- jQuery UI CSS file -->
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<!-- Meme Generator CSS file -->
<link rel="stylesheet" type="text/css" href="https://dotneststatic.com/media/memegenerator/MediaTheme/Styles/jquery.memegenerator.min.css">

<img id="meme" src="https://imgflip.com/s/meme/Creepy-Condescending-Wonka.jpg" />
<button id="download">Download</button>

<script>
    $("#meme").memeGenerator();
    $("#download").click(function(e) { e.preventDefault(); $("#meme").memeGenerator("download"); });
</script>