{% Display Resources %}

<img id="meme" src="https://imgflip.com/s/meme/Creepy-Condescending-Wonka.jpg" crossorigin="Anonymous" />
<button class="btn" id="download">Download</button>

<script>
    $("#meme").memeGenerator({
        useBootstrap: true
    });

    $("#download").click(function(e) { 
        e.preventDefault(); 
        
        $("#meme").memeGenerator("download"); 
    });
</script>